.all_fadeout {
  animation:
     fadein 1s linear 0s 1 forwards;
  -webkit-animation:
     fadein 1s linear 0s 1 forwards;

  animation-play-state: running;
  -webkit-animation-play-state: running;
}

.all_fadein {
  animation:
     fadeout 1s linear 0s 1 forwards;
  -webkit-animation:
     fadeout 1s linear 0s 1 forwards;

  animation-play-state: running;
  -webkit-animation-play-state: running;
}

.lfadein {
  animation:
     fadein 0.8s linear 0s 1 forwards;
  -webkit-animation:
     fadein 0.8s linear 0s 1 forwards;

  animation-play-state: running;
  -webkit-animation-play-state: running;
}

.lfadeout {
  animation:
     fadeout 0.8s linear 0s 1 forwards;
  -webkit-animation:
     fadeout 0.8s linear 0s 1 forwards;

  animation-play-state: running;
  -webkit-animation-play-state: running;
}

.sfadein {
  animation:
     fadein 0.2s linear 0s 1 forwards;
  -webkit-animation:
     fadein 0.2s linear 0s 1 forwards;

  animation-play-state: running;
  -webkit-animation-play-state: running;
}

.sfadeout {
  animation:
     fadeout 0.2s linear 0s 1 forwards;
  -webkit-animation:
     fadeout 0.2s linear 0s 1 forwards;

  animation-play-state: running;
  -webkit-animation-play-state: running;
}

.vsfadein {
  animation:
     fadein 0.2s linear 0s 1 forwards;
  -webkit-animation:
     fadein 0.2s linear 0s 1 forwards;

  animation-play-state: running;
  -webkit-animation-play-state: running;
}

.fadeinfordialog {
  animation:
     fadeinfordialog 0.02s linear 0s 1 forwards;
  -webkit-animation:
     fadeinfordialog 0.02s linear 0s 1 forwards;

  animation-play-state: running;
  -webkit-animation-play-state: running;
}

.fadeoutfordialog {
  animation:
     fadeoutfordialog 0.02s linear 0s 1 forwards;
  -webkit-animation:
     fadeoutfordialog 0.02s linear 0s 1 forwards;

  animation-play-state: running;
  -webkit-animation-play-state: running;
}

.whiteoutandin {
  animation:
     whiteoutandin 1.5s linear 0s 1 forwards;
  -webkit-animation:
     whiteoutandin 1.5s linear 0s 1 forwards;

  animation-play-state: running;
  -webkit-animation-play-state: running;
}



@keyframes fadeout {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}
@-webkit-keyframes fadeout {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes fadein {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-webkit-keyframes fadein {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeinfordialog {
  0%   {
    opacity: 0;
    background: rgba(0, 0, 0, 0);
  }
  100% {
    opacity: 1;
    background: rgba(0, 0, 0, 0.6);
  }
}
@-webkit-keyframes fadeinfordialog {
  0%   {
    opacity: 0;
    background: rgba(0, 0, 0, 0);
  }
  100% {
    opacity: 1;
    background: rgba(0, 0, 0, 0.6);
  }
}
@keyframes fadeoutfordialog {
  0%   {
    opacity: 1;
    background: rgba(0, 0, 0, 0.6);
  }
  100% {
    opacity: 0;
    background: rgba(0, 0, 0, 0);
  }
}
@-webkit-keyframes fadeoutfordialog {
  0%   {
    opacity: 1;
    background: rgba(0, 0, 0, 0.6);
  }
  100% {
    opacity: 0;
    background: rgba(0, 0, 0, 0);
  }
}

@keyframes whiteoutandin {
  0% {
    opacity: 0;
    background: rgba(255, 255, 255, 0);
  }
  50% {
    opacity: 1;
    background: rgba(255, 255, 255, 1);
  }
  80% {
    opacity: 1;
    background: rgba(255, 255, 255, 1);
  }
  99% {
    opacity: 0;
    background: rgba(255, 255, 255, 0);
  }
  100% {
    opacity: 0;
    background: rgba(0, 0, 0, 0);
  }
}
@-webkit-keyframes whiteoutandin {
  0% {
    opacity: 0;
    background: rgba(255, 255, 255, 0);
  }
  50% {
    opacity: 1;
    background: rgba(255, 255, 255, 1);
  }
  80% {
    opacity: 1;
    background: rgba(255, 255, 255, 1);
  }
  99% {
    opacity: 0;
    background: rgba(255, 255, 255, 0);
  }
  100% {
    opacity: 0;
    background: rgba(0, 0, 0, 0);
  }
}








.rrotate {
  animation:
     rrotate 1.5s cubic-bezier(0.15, 0.5, 0.85, 1.0) 0s 1 forwards;
  -webkit-animation:
     rrotate 1.5s cubic-bezier(0.15, 0.5, 0.85, 1.0) 0s 1 forwards;
  animation-play-state: running;
  -webkit-animation-play-state: running;
}

.lrotate {
  animation:
     lrotate 1.5s linear 0s infinite forwards;
  -webkit-animation:
     lrotate 1.5s linear 0s infinite forwards;

  animation-play-state: running;
  -webkit-animation-play-state: running;
}


@keyframes rrotate {
  0%    { transform: translate(0px, 0px) rotate(0deg); }
  100%  { transform: translate(1800px, 200px) rotate(200deg); }
}
@-webkit-keyframes rrotate {
  0%    { -webkit-transform: translate(0px, 0px) rotate(0deg); }
  100%  { -webkit-transform: translate(1800px, 200px) rotate(200deg); }
}

@keyframes lrotate {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(-360deg); }
}
@-webkit-keyframes lrotate {
  0%    { -webkit-transform: rotate(0deg); }
  100%  { -webkit-transform: rotate(-360deg); }
}


.dialogdisplay {
  animation:
     dialogdisplay 0.1s linear 0s 1 forwards;
  -webkit-animation:
     dialogdisplay 0.1s linear 0s 1 forwards;

  animation-play-state: running;
  -webkit-animation-play-state: running;
}

@keyframes dialogdisplay {
  0%    { transform: scale(0.6); }
  100%  { transform: scale(1); }
}
@-webkit-keyframes dialogdisplay {
  0%    { -webkit-transform: scale(0.6); }
  100%  { -webkit-transform: scale(1); }
}

.dialogdisppear{
  animation:
     dialogdisapper 0.1s linear 0s 1 forwards;
  -webkit-animation:
     dialogdisapper 0.1s linear 0s 1 forwards;

  animation-play-state: running;
  -webkit-animation-play-state: running;
}

@keyframes dialogdisapper {
  0%    { transform: scale(1); }
  100%  { transform: scale(0); }
}
@-webkit-keyframes dialogdisapper {
  0%    { -webkit-transform: scale(1); }
  100%  { -webkit-transform: scale(0); }
}


.flash{
  animation:
     flash 2s linear 0s infinite forwards;
  -webkit-animation:
     flash 2s linear 0s infinite forwards;

  animation-play-state: running;
  -webkit-animation-play-state: running;
}

@keyframes flash {
  0% {
    opacity: 0;
    background: rgba(255, 255, 0, 1);
    background: radial-gradient(center center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 60%, rgba(255, 255, 0, 1) 80%, rgba(255, 255, 0, 1));
  }
  50% {
    opacity: 0.9;
    background: radial-gradient(center center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 60%, rgba(255, 255, 0, 1) 80%, rgba(255, 255, 0, 1));
  }
  55% {
    opacity: 0.9;
    background: radial-gradient(center center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 60%, rgba(255, 255, 0, 1) 80%, rgba(255, 255, 0, 1));
  }
  80% {
    opacity: 0;
    background: radial-gradient(center center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 60%, rgba(255, 255, 0, 1) 80%, rgba(255, 255, 0, 1));
  }
  100% {
    opacity: 0;
    background: radial-gradient(center center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 60%, rgba(255, 255, 0, 1) 80%, rgba(255, 255, 0, 1));
  }

}
@-webkit-keyframes flash {
  0% {
    opacity: 0;
    background: -webkit-radial-gradient(center center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 60%, rgba(255, 255, 0, 1) 80%, rgba(255, 255, 0, 1));
  }
  50% {
    opacity: 0.9;
    background: -webkit-radial-gradient(center center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 60%, rgba(255, 255, 0, 1) 80%, rgba(255, 255, 0, 1));
  }
  55% {
    opacity: 0.9;
    background: -webkit-radial-gradient(center center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 60%, rgba(255, 255, 0, 1) 80%, rgba(255, 255, 0, 1));
  }
  80% {
    opacity: 0;
    background: -webkit-radial-gradient(center center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 60%, rgba(255, 255, 0, 1) 80%, rgba(255, 255, 0, 1));
  }
  100% {
    opacity: 0;
    background: -webkit-radial-gradient(center center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 60%, rgba(255, 255, 0, 1) 80%, rgba(255, 255, 0, 1));
  }
}
